<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cruise</title>
    <!-- libs-->
    <script type="text/javascript" src="js/libs/angular.min.js"></script>
    <script type="text/javascript" src="js/controllers/app.js"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.2/angular.min.js"></script>-->

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container" ng-app="practiceApp" ng-controller="SwitchController">
    <div>
        <!-- show all the tabs-->
    <ul class="wrapper">
        <li ng-repeat="item in items" ng-click="switch($index)" ng-class="{active: $index == itemIndex}">{{item}}</li>
    </ul>
        <div style="clear: both;"></div>
        <!-- show the title of the tab-->
        <div class="formTitle">Title:{{selection}}</div>
    </div>
    <div style="clear: both;"></div>
    <!-- show the content of the tab-->
    <div ng-switch on="selection" class="content">
        <div ng-switch-when="AGENTS">Content of AGENTS</div>

        <div ng-switch-when="HELP">Content of HELP</div>
    </div>
</div>
</body>
</html>