<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cruise</title>
    <!-- libs-->
    <script type="text/javascript" src="js/libs/angular.min.js"></script>
    <script type="text/javascript" src="js/controllers/app.js"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.2/angular.min.js"></script>-->

    <!--<link rel="stylesheet" href="css/style.css">-->
</head>
<body>
<div ng-app="practiceApp" ng-controller="SwitchController">
    <ul>
        <li ng-repeat="item in items" ng-click="switch()">{{item.name}}</li>
    </ul>
    <div ng-switch on="selection">
        <div ng-switch-when="AGENTS"> AGENTS</div>
        <div ng-switch-when="HELP"> HELP</div>
    </div>
</div>
</body>
</html>