<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cruise</title>
    <!-- libs-->
    <script type="text/javascript" src="js/libs/angular.min.js"></script>
    <script type="text/javascript" src="js/controllers/app.js"></script>
    <!--style-->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container" ng-app="practiceApp" ng-controller="SwitchController">
    <div class="wrapper">
        <!-- show all the tabs-->
        <ul class="itemList">
            <li ng-repeat="item in items" ng-click="switch($index)"
                ng-class="{active: $index == itemIndex,last: $last}">
                {{item}}
            </li>
        </ul>
        <div style="clear: both;"></div>
        <!-- show the title of the tab-->
        <div class="formTitle"><p>{{selection | capitalize}}</p></div>
    </div>

    <div style="clear: both;"></div>
    <!-- show the content of the tab-->
    <div ng-switch on="selection" class="content">
        <div ng-switch-when="AGENTS" ng-controller="AgentlistController">
            <content-view></content-view>
        </div>

        <div ng-switch-when="HELP">Content of HELP</div>
        <div style="clear: both;"></div>
    </div>
</div>
</body>
</html>