<div>
    <div ng-repeat="item in AgentItems">
        <div>
            {{item.title}} | {{item.category}} | {{item.ip}}
        </div>
        <div>
            <div ng-click="addPanel = true">+ Specify Resources</div>
            | Resources:
            <div ng-repeat="resource in item.resources"> {{resource}}
                <div ng-click="remove(resource,item)">X</div>
            </div>
            <form ng-show="addPanel" ng-submit="sendRec(resourceArray,item)">(separate multiple resources name with commas)
                <input type="text" ng-model="resourceArray">
                <input type="submit" value="Add resources" ng-click="addPanel = false">
                <input type="button" ng-click="addPanel = false" value="Close">
            </form>
        </div>
    </div>
</div>
<div>
    Summary
    idle {{AgentItems | sumByKey:'idle'}}
    building {{AgentItems | sumByKey:'building'}}
</div>